body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    text-align: center;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.qr-code {
    display: inline-block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.qr-code img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

p {
    color: red;
}
