.back-button {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Ensure the button is above other elements */
}

.back-button:hover {
    background-color: #e0e0e0;
}

.form-container {
    text-align: center;
    position: relative;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    position: relative;
}
