.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    position: relative;
}

.balance {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-container form {
    margin: 0;
}

.button-container button {
    margin-right: 10px;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.transaction-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.transaction-row:hover {
    background-color: #f9f9f9;
}

.transaction-name {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transaction-amount {
    flex: 0;
    width: 150px;
    text-align: right;
    white-space: nowrap;
}

.transaction-outgoing {
    color: red;
}

.transaction-incoming {
    color: green;
}

.transaction-details {
    display: none;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.transaction-details p {
    margin: 0;
    padding: 4px 0;
    color: black;
    text-align: left;
}

.transaction-details p strong {
    color: black;
}

.container {
    position: relative;
}

.back-button {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.back-button:hover {
    background-color: #e0e0e0;
}

