body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #45a049;
}

h1 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.message {
    color: green;
}

.form-container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.table-container{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.mysterious-button {
    opacity: 0; /* Ustaw przezroczystość na 0, aby był niewidoczny */
    pointer-events: all; /* Umożliwia interakcje z przyciskiem */
    position: absolute; /* Pozycjonowanie absolutne */
}


.form-container input[type="text"], 
.form-container input[type="password"], 
.form-container input[type="email"], 
.form-container input[type="date"],
.form-container input[type="number"]
 {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.form-container button:hover {
    background-color: #45a049;
}
.info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info label {
    font-weight: bold;
    margin-right: 10px;
}

.info span {
    flex: 1;
    text-align: right;
}

table {
    min-width: auto;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

.balance {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.transactions-table {
    margin-top: 20px;
}

.transaction-row {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.transaction-details {
    background-color: #fafafa;
    padding: 10px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
}

.transaction-amount {
    font-weight: bold;
}

.transaction-incoming {
    color: green;
}

.transaction-outgoing {
    color: red;
}

